<!-- Smooth Scroll -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/smooth-scroll.min.js">
</script>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js">
</script>


<!-- Lightbox -->

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
