<div class="header">
  {% if page.permalink != "/" %}
    <div class="name">
      <a class="name" href="/"><h2>{{ site.name }}</h2></a>
    </div>
  {% endif %}

      <i id="burger" class="material-icons" onclick="burger()">menu</i>
      <i id="quit" class="material-icons" onclick="quit()">clear</i>

      <ul id="large-menu" class="navbar-nav {% if page.permalink != "/" %} dark {% endif %}">
        {% for item in site.data.navigation %}
          <li class="nav-item {% if page.url == item.link %} active {% endif %}">
            <a class="nav-link" href="{{ item.link }}"> {{ item.name }}<span class="sr-only">(current)</span></a>
          </li>
          {% endfor %}
      </ul>

      <div id="links">
        {% for item in site.data.navigation %}
          <a class="menu-item" href="{{ item.link }}">{{ item.name }}</a>
        {% endfor %}
      </div>

</div>
