.background-home {
  background: linear-gradient(
      rgba(00, 00, 124, 0.5),
      rgba(73, 146, 124, 0.7)
      ), url(/julia-preview/assets/img/videoblocks-black-ink-drop-in-water-filmed-in-slow-motion_s414zxc9g_thumbnail-full06.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.title-slide {
  * {
    text-align: center;
    color: white;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  height: 100vh;
  min-height: 550px;
}
.fas.fa-arrow-down {
  margin-top: 5rem;
  font-size: 70px;
}
.current-section {
  margin: 0 auto;
  text-align: center;
  border-bottom: solid 1px black;
}
.current-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px black;
}
.current-item {
  width: 100%;
  min-height: 300px;
  border-top: solid 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vertical-left {
  transform: rotate(-90deg);
}
.current-title-wrap {
  padding: 2rem 0;
  margin-left: 2rem;
  width: 200px;
}
.current-title {
  max-height: 700px;
  text-align: center;
  margin-left: -100px;
  font-size: 30px;
}
.current-work-preview {
  a {
    width: 100%;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.current-item-preview {
  min-height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  transition: 1s ease-in-out;
}
.current-item-preview:hover {
  .current-preview-title {
    opacity: 1;
  }
  background-blend-mode: lighten;
  background-color: rgba(255,255,255, 0.5);
}
.current-preview-title {
  opacity: 0;
  font-size: 30px;
  padding: 2rem;
}
.current-image {
  width: 40%;
  height: 100%;
  padding-top: 40%;
  background-position: center;
  background-size: cover;
}
.current-description {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding: 2rem;
}
.julia {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px;
  border-top: solid 1px;
  background: linear-gradient(
      rgba(247, 247, 247, 0.7),
      rgba(247, 247, 247, 0.9)
      ), url(/assets/img/colored-ink.jpg);
  background-size: cover;
}
.bio {
  h2 {
    text-align: center;
  }
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.contacts {
  border-bottom: solid 1px;
  display: flex;
  align-items: center;
  min-height: 300px;
}
a.email {
    margin: 0 auto;
    color: black;
    font-size: 50px;
}
