// Tablet
@media screen and (min-width: 769px){
  #links, #burger, #quit {
    display: none;
  }
}
@media screen and (max-width: 768px){
  ul#large-menu {
    display: none;
  }
  .current-item {
    flex-direction: column;
  }
  .current-title-wrap {
    margin-left: 0;
  }
  .vertical-left {
    transform: rotate(0deg);
  }
  .current-title {
    margin-left: 0;
  }
  .current-image {
    order: 2;
    width: 100%;
  }
  .current-description {
    order: 3;
  }
  .julia {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
  div#contact {
    flex-direction: column;
    justify-content: center;
  }

  // Project Page
  .post_gallery {
    flex-direction: column;
  }
  .secondary_gallery, .documentation {
    margin: 0 0 2rem 0;
  }
}

@media screen and (max-width: 620px) {
  h1 {
    font-size: 60px;
  }
  a.email {
    font-size: 20px;
  }
  .avatar {
    width: 80%;
  }
  h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 375px){
  h2.post-title {
    font-size: 2rem;
  }
  h3.post-subtitle {
    font-size: 1rem;
  }
}
