// Mobile
img.logo-small {
  width: 200px;
  margin: 1rem auto;
}
#burger{
  position: fixed;
  right: 0;
  top: 0;
  color: white;
  background: linear-gradient(
      rgba(00, 00, 124, 0.5),
      rgba(73, 146, 124, 0.7)
      ),;
  font-size: 32px;
  padding: 16px 16px 32px 32px;
  border-radius: 0% 0% 0% 100%;
  transition: 1s;
  cursor: pointer;
}

#quit{
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 32px;
  padding: 16px;
  display: none;
  cursor: pointer;
}
#mobile-menu {
  position: relative;
}
#linkWrap {
  display: none;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
#links{
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
#links a{
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  z-index: 1;
  padding: 1rem 0;
}
.logo-icon {
  z-index: 10;
  width: 50%;
  object-fit: contain;
  margin: 0 auto;
}
// Desktop
#navigation-desktop {
  display: none;
}
