---
layout: default
---
<div class="background-home">
  <div class="title-slide">
    {% include navigation.html %}
    <div class="grow">
    </div>
      <div class="name">
          <h1 class="light">{{ site.name }}</h1>
          <h3>{{ site.profession }}</h3>
      </div>
      <a href="/#current"><i class="fas fa-arrow-down"></i></a>
      <div class="grow">

      </div>
    </div>
  </div>
  <h1 id="current" class="current-section">Current Work</h1>
    <div class="current-work">
    {% for post in site.posts %}
      {% if post.current == true %}
      <div class="current-item">
        <div class="current-title-wrap">
        <a href="{{ site.baseurl }}{{ post.url }}"><h2 class="current-title vertical-left">{{ post.title }}</h2></a>
        </div>
        <div  class="current-description">
          <p>{{ post.description | markdownify | truncate: 450 }}</p>
          {% if post.description %}
            <a class="button" href="{{ site.baseurl }}{{ post.url }}">Read More</a>
          {% endif %}
        </div>
        <div class="current-image" style="background-image: url({{ site.baseurl }}{{ post.preview_picture }});">

        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>

    <div id="about" class="julia">
      <img class="avatar" src="{{ page.avatar }}" alt="julia vandehof">
      <div class="bio">
        <h2>{{ site.name }}</h2>
        <p>{{ page.bio }}</p>
      </div>
    </div>

    <div id="contact" class="contacts">
      <h2 class="vertical-left">Contact</h2>
      <a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
</div>
